<div class="home-header">
	<div class="separator"><div class="intro">
		<h3>What is it?</h3>
		<p>BusinessBorders is a website taking reports to track arbitrary immigration decisions, unjust treatments and abuses specifically affecting people traveling for business purposes and the businesses they represent. We take reports from all countries. Our goal is to publish regular statistics to expose business unfriendly borders and inequal processes, to help policy makers and entrepreneurs.</p>
	</div></div>
	<div class="separator"><div class="submit">
		Victim: report arbitrary decision or inequal treatment
		Whistleblower: report abuse
		Submit a new report
	</div></div>
</div>
<div class="latest-reports">
	<h3>Latest reports</h3>
	<div class="map-report-viewer">
		<div class="reports">
			<ul>
			</ul>
			<div class="foot-section">
				<%= link_to "View more", reports_path %>
			</div>
		</div>
		<div class="map">
		</div>
	</div>
</div>
