// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
@import "global";

.form{
  text-align: center;
}
.field label{
   margin: 0 auto;
   padding: 0;
}
.section{
  margin: 0 auto;
  padding:15px 0;
  border: 2px solid #AAB0BF;
  h2{
  	margin: 0 auto;
  	padding: 0;
  }
  .field{
    padding: 15px;
  	display: inline-block;
  }
}
#section_one{
  margin-top: 60px;
  border-bottom: 0px solid transparent;
  width:100%;
}
#section_two {
  width:100%;
  border-bottom: 0px solid transparent;
  border-top: 0px solid transparent;
} 
#section_three{
  width:100%;
  padding:0;
  margin:0;
  border: 2px solid #AAB0BF;
  border-top: 0px solid transparent;
}

label{
	font-family: "Georgia";
}
#disposition, #outcome{
	width: 49%;
	display:inline-block;
	padding-bottom:40px;
}
#report_disposition, #report_outcome{ width:90%;} 
h2{
  margin: 0 auto;
  padding: 0;
}

