<html>
 <head>
   <title>BusinessBorders</title>
   <%= stylesheet_link_tag "application" %>
 </head>
 <body>
   <div id="header">
    <h2 id="logo">BusinessBorders</h2>
    <ul class="nav">
      <li id="home"><a href="#">Submit a Report</a></li>
      <li id="index"><a href="#">View Reports</a></li>
    </ul>
   </div>
   <%= yield %>
  </body>
</html>