<html>
 <head>
   <title>BusinessBorders</title>
   <%= stylesheet_link_tag "application" %>
 </head>
 <body>
   <div id="header">
    <h2 id="logo">BusinessBorders</h2>
    <ul class="nav">
      <li id="home"><%= link_to "Submit a Report", new_report_path %></li>
      <li id="index"><%= link_to "View Reports", root_path %></li>
    </ul>
   </div>
	<div id="container">
		   <%= yield %>
	</div>

  </body>
</html>